body {
	padding: 10px;
}

figure {
	display: inline-block;
}

img {
	-webkit-transform: scale(0.5, 0.5);
	-webkit-transition: -webkit-transform 0.5s ease;
}

figcaption {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
}

figure:hover figcaption {
	opacity: 1;
}

figure:hover img {
	-webkit-transform: scale(1.0, 1.0);
}